{% load static %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Padaria</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main>
      <section class="maine">
        <div class="mainContainer">
          <h1>Pão</h1>
          <p>O prazer das coisas simples da vida.</p>

          <div class="botaoContainer">
            <button class="botao">
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </div>
        </div>
      </section>
    </main>
    <section class="produtos">
      <h2 class="tituloProdutos">Aqui no Pão tudo é fresco</h2>

      <div class="produtosContainer">
        <div class="produtosExemplos">
          <img
            src="{% static 'img/produto1.png' %}"
            alt=""
            class="produtoImg"
          />
          <p class="produtoDesc">Pão tipo Sourdough</p>
        </div>

        <div class="produtosExemplos">
          <img
            src="{% static 'img/produto2.png' %}"
            alt=""
            class="produtoImg"
          />
          <p class="produtoDesc">Café gelado</p>
        </div>

        <div class="produtosExemplos">
          <img
            src="{% static 'img/produto3.png' %}"
            alt=""
            class="produtoImg"
          />
          <p class="produtoDesc">Paraíso de pretzels</p>
        </div>
      </div>

      <a href="{% url "padaria_list" %}">Ver mais comidas</a>
    </section>

    <div class="imagemDiv"></div>

    <section class="adicionarProduto">
      <h1>Adicione uma nova comida!</h1>
      <form method="POST" class="formAddProduto">
        {% csrf_token %} {{ form|crispy }}

        <button type="submit">Enviar</button>
      </form>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- mytemplate.html -->

    <script src="{% static 'js/myscript.js' %}"></script>
  </body>
</html>
