@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  overflow-x: hidden;
}
html, body {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.maine {
  background-attachment: fixed;
  background-image: url(../img/capaHome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainer h1 {
  margin: 0;
  font-size: 165px;
  font-family: "Chela One";
}

.mainContainer p {
  font-size: 32px;
  font-family: "Roboto";
}

.botaoContainer {
  position: absolute;
  margin-top: 80vh;
}

.botao {
  background: none;
  border: none;
  font-size: 32px;
  animation: pulse 3s infinite; 

}



.botao:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.3);
}

/* ------------------------------------------------- */

.produtos {
  width: 100vw;
  height: 95vh;
}

.tituloProdutos {
  font-family: "Roboto";
  font-size: 32px;
  padding-top: 128px;
  text-align: center;
}

.produtosContainer {
  margin-top: 64px;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.produtosExemplos {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.produtoImg {
  width: 70%;
  height: 320px;
  object-fit: cover;
  object-position: 50% 50%;
}

.produtoDesc {
  font-family: "Roboto";
  font-size: 22px;
}

.produtos a {
  color: white;
  width: 135px;
  height: 40px;
  margin-top: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-45%);
  border: none;
  background-color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.produtos a:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 50, 50);
}

/*---------------------------------------*/

.imagemDiv {
    width: 100vw;
    height: 60vh;
    background-image: url(../img/paoDiv.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

/*---------------------------------------*/

.adicionarProduto {
    background-color: wheat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adicionarProduto h1 {
  padding-top: 20vh;
}

 .formAddProduto {
  padding-top: 10vh;
  width: 50vw;
  height: 100vh;

}

